body{
     background-color: black;
}
.back{
     color: antiquewhite;
     margin-left: 2rem;
     display: flex;
     gap: 1rem;
}
div{
     color: white;
     margin-left: 2rem;
}
a{
     text-decoration: none;
     color: white;
}
p:hover{
     text-decoration: underline;
     color: rgb(190, 212, 212);
}
.left{
     margin-right:0.5rem ;
}